{% load static %}
<!doctype html>
<html>

<head>
    <title>Sorry!</title>
      <link rel="shortcut icon" href="{% static 'images/Logo.ico' %}" />
    <link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=NTR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gurajada&display=swap" rel="stylesheet">
<style>
p{
    font-size: 5rem;
    font-family: 'Gurajada', sans-serif;
}
img {
  float: left;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
}
.wrong{
    font-size: 4rem;
    font-family: 'Ramabhadra', sans-serif;
}
.ans{
    color:red;
}
</style>
<body>
<img src={% static "/images/Logo.png" %} >
<p  style="text-align: center;">
తప్పుగా చెప్పిన సమాధానాలు
</p>
<div class="wrong">
<ol>
{% for i in data %}
<li style="margin-left: 3rem;">{{i.question}}
<br>
Correct: <label class="ans">{{i.answer}}</label></li>
<br>
{% endfor %}
</ol>
</div>

</body>
</head>
</html>